*{
    padding: 0;
    margin:0;
}
h1{
    background-color:aqua 
}
#pageheader {
    border: 1px solid black;
    width: 90%;
        margin:auto;
}
#Maincontent {
background-color: darkgoldenrod;
width: 50%
}
#rightnav {
    background-color:cadetblue;
        width: 40%
}
#leftnav {
    background-color: darkslateblue;
    width: 20%
}
img {
    width: 50px;
}
div { 
            color: #3066BE;
            background-color: #119DA4;
            font-size: 20px;
                font-style: italic;
                font-family: Arial, monospace, serif;
                border: 5px dotted #80DED9;
                border-radius: 50px;
                padding: 20px;
            }
            div:hover {
                background-color: lavenderblush;
}