* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #af93e9;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 #pageheader {
    border: 1px solid black;
    width: 90%;
    margin: auto;
}
#Maincontent {
    width: 50%;
}
#rightnav {
    background-color: #6f5fa0;
    width: 40%;
}
#leftnav {
    background-color: mediumpurple;
    width: 20%;
}
img {
    width: 50px;
}
div {
    color: #9461ec;
    background-color: #3c11a4;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, monospace, serif;
    border: 5px dotted #9480de;
    border-radius: 50px;
    padding: 20px;
}
div:hover {
    background-color: #dc4d7c;
}

h1 {
    text-align: center;
}
h1 {
    font-family: helvetica;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}



.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #b9b2e0;
    color: white;
}
